body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.button{
    width: 300px;
    height: 100px;
    font-size: 30px;
    color: #fff;
    border:0px;
    border-radius: 10px;
    box-shadow: 2px 5px 20px #000;
    background-color: dodgerblue;
    transition: .1s all;
    outline: none;
    position: relative;
    overflow: hidden;
}
.button:active{
    transform: translate(2px,5px);
    box-shadow: none;
}

.ripple{
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.4); */
    border: 0px solid  rgba(255, 255, 255, 0.4);
    animation: ripple 1s ease-in;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    /* border-radius: 10px; */
}

@keyframes ripple{
    100%{
        width:1000px;
        height:1000px ;
        border: 30px solid  rgba(255, 255, 255, 0.4);
        opacity: 0;
    }
}